In [1]:
import sys
import os
from hydra.core.global_hydra import GlobalHydra
from hydra import initialize, compose
from omegaconf import OmegaConf

# os.chdir("..")
sys.path.append("src")

GlobalHydra.instance().clear()

initialize(config_path="configs", version_base=None)

cfg = compose(config_name="config_partial")

In [2]:
from preprocessing.dimensionality_reduction import TFRSubsetPartialDataset

In [3]:
TFRSubsetPartialDataset.initialize_data(cfg)

/home/athishramdas/Desktop/Pangenome/pangenome-project/src/preprocessing/dimensionality_reduction.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['serotype_encoded'] = le.fit_transform(df_filtered['Serotype'])

In [5]:
dataset = TFRSubsetPartialDataset.from_split("train", 20)

In [6]:
dataset.tfr_sample_ys_df

       SRA_ACCESSION_NUMBER     Serotype  Src_file  serotype_encoded
0                 DRR002276  Typhimurium        53                 9
1                 DRR002277  Typhimurium        53                 9
2                 DRR002278  Typhimurium        53                 9
3                 DRR002279  Typhimurium        53                 9
4                 DRR002280     Infantis        53                 2
...                     ...          ...       ...               ...
544979           SRR9999913  Enteritidis        30                 0
544982           SRR9999929     Infantis        30                 2
544983           SRR9999930      Newport        30                 6
544984           SRR9999931  Enteritidis        30                 0
544987           SRR9999934      Newport        30                 6

[317141 rows x 4 columns]

In [8]:
len(dataset._get_bottom_n_indices())

200

In [10]:
len(dataset._get_top_and_bottom_n_indices())

400

In [11]:
# os.chdir("..")

data1 = dataset[1]

In [13]:
data1[0].shape

(400,)

In [13]:
import numpy as np

X = np.zeros(100)
X[2] = 1
X[4] = 1
x1 = [2, 4, 6]

X[x1]

array([1., 1., 0.])

## Old dataloader

In [1]:
import sys
import os
from hydra.core.global_hydra import GlobalHydra
from hydra import initialize, compose
from omegaconf import OmegaConf

# os.chdir("..")
sys.path.append("src")

GlobalHydra.instance().clear()

initialize(config_path="configs", version_base=None)

cfg = compose(config_name="config_partial")

In [2]:
from preprocessing.dataloader import TFRecordsPartialDataset

TFRecordsPartialDataset.initialize_data(cfg)
dataset = TFRecordsPartialDataset.from_split("train")

/home/athishramdas/Desktop/Pangenome/pangenome-project/src/preprocessing/dataloader.py:176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['serotype_encoded'] = le.fit_transform(df_filtered['Serotype'])

In [4]:
dataset.tfr_sample_ys_df

       SRA_ACCESSION_NUMBER     Serotype  Src_file  serotype_encoded
0                 DRR002276  Typhimurium        53                 9
1                 DRR002277  Typhimurium        53                 9
2                 DRR002278  Typhimurium        53                 9
3                 DRR002279  Typhimurium        53                 9
4                 DRR002280     Infantis        53                 2
...                     ...          ...       ...               ...
544979           SRR9999913  Enteritidis        30                 0
544982           SRR9999929     Infantis        30                 2
544983           SRR9999930      Newport        30                 6
544984           SRR9999931  Enteritidis        30                 0
544987           SRR9999934      Newport        30                 6

[317141 rows x 4 columns]